{% extends 'template.html' %}
{% block content %}
    <h3>Редактирование документа</h3>
    <form action="/cost_cadastr/editsave/" method="POST" enctype="multipart/form-data" class="was-validated">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="doc_name">Наименование документа</label>
                        <input type="text" class="form-control" id="doc_name" name="doc_name"
                        title="Поле Наименование документа не может быть пустым. Максимальная длинна не должна превышать 1024 символа." 
                        value="{{ doc_name_value }}" required>
                        <div class="invalid-feedback">
                            Поле Наименование документа не может быть пустым. Максимальная длинна не должна превышать 1024 символа.
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="cadcostdoc">Файл документа (zip архив: Акт КС + xml-файлы)</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="cadcostdoc" name="cadcostdoc" accept=".zip" value="{{ doc_image }}"/>
                            <label class="custom-file-label" for="cadcostdoc" data-browse="Выберите файлы">Выберите архив с доументами в формате *.zip...</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="doc_number">Номер документа</label>
                        <input type="text" class="form-control" id="doc_number" name="doc_number" 
                        title="Поле Номер документа не должно быть пустым." value="{{ doc_number_value }}" required>
                        <div class="invalid-feedback">
                            Поле Номер документа не может быть пустым. Максимальная длинна не должна превышать 64 символа.
                        </div>                    
                    </div>
                    <div class="form-group col-md-6">
                        <label for="doc_date">Дата документа</label>
                        <input type="date" class="form-control {{ invalid_form_style }}" id="doc_date" name="doc_date" 
                        title="Дата документа должна быть больше 01.01.2000 и меньше или равна текущей даты" value="{{ doc_date_value|date:'Y-m-d' }}" required>
                        <div class="invalid-feedback">
                            Поле Дата документа не может быть пустым. Дата документа должна быть больше 01.01.2000 и меньше или равна текущей даты.
                        </div>                    
                    </div>
                    <div class="form-group col-md-12">
                        <label for="doc_author">Наименование уполномоченного органа принявшего документ</label>
                        <input type="text" class="form-control" id="doc_author" name="doc_author" 
                        title="Поле не должно быть пустым." value="{{ doc_author_value }}" required>
                        <div class="invalid-feedback">
                            Поле Наименование уполномоченного органа принявшего документ не может быть пустым. Максимальная длинна не должна превышать 256 символов.
                        </div>                    
                    </div>         
                    <div class="form-group col-md-12">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="cadcost" name="cadcost" accept=".xml" multiple required disabled/>
                            <label class="custom-file-label" for="cadcost" data-browse="Выберите файлы">Выберите файлы кадастровой стоимости (V02_STD_Cadastral_Cost_*.xml)...</label>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <input type="submit" class="btn btn-outline-success" value='Сохранить'>
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="form-row">       
                    <p>При редактировании документа недоступен функционал загрузки XML-файлов
                        содержащих сведения о кадастровой стоимости. Для перезагрузки таких сведений необходимо удалить документ и создать заново.    
                    </p>
                    <br>
                    <p class="p-error">{{ errors }}</p>       
                </div>
            </div>

        </div>
    </form>
{% endblock %}