{% extends 'template.html' %}
{% load tz %}
{% block content %}   
    <h4>Результат поиска кадастровой стоимости объекта {{ cadnum }}:</h4>
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th>Кадастровый номер</th>
                <th>Кадастровая стоимость</th>
                <th>Удельный показатель кадастровой стоимости</th>
                <th>Номер документа</th>
                <th>Дата документа</th>
                <th>XML файл</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
            {% for item in obj %}
            <tr>
                <td>{{ item.cad_num }}</td>
                <td>{{ item.cost.cost }}</td>
                <td>{{ item.cost.upks }}</td>
                <td>{{ item.cost.doc_cost.doc_number }}</td>
                <td>{{ item.cost.doc_cost.doc_date|date:'Y-m-d' }}</td>
                <td><a href="{{ item.filecost.urlfile }}">{{ item.filecost.filename }}</a></td>
                <td>
                    <form action="/cost_cadastr/docdetail/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="docid" value="{{ item.cost.doc_cost.id }}">
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Перейти к документу">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <p>Количество записей: {{ obj_count }}</p>
            </div>
            <div class="col-2">
                <div class="pagination nav-position">
                    <span class="step-links">    
                        {% if obj.has_previous %}
                            <a href="?page=1" class="btn btn-light" >&lt;&lt;</a>
                            <a href="?page={{ obj.previous_page_number }}" class="btn btn-light">&lt;</a>
                        {% else %}
                            <a href="#" class="btn btn-light disabled">&lt;&lt;</a>
                            <a href="#" class="btn btn-light disabled">&lt;</a> 
                        {% endif %}
                
                        <span class="current">
                            {{ obj.number }} из {{ obj.paginator.num_pages }}
                        </span>
                
                        {% if obj.has_next %}
                            <a href="?page={{ obj.next_page_number }}" class="btn btn-light">&gt;</a>
                            <a href="?page={{ obj.paginator.num_pages }}" class="btn btn-light">&gt;&gt;</a>
                        {% else %}
                            <a href="#" class="btn btn-light disabled">&gt;</a>
                            <a href="#" class="btn btn-light disabled">&gt;&gt;</a>            
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-5">
                <div class="btn-position">
                    <div class="btn-style">
                        <a href="{{ HTTP_HOST }}/cost_cadastr/cc/" class="btn btn btn-outline-primary">Вернуться к списку документов</a>
                    </div>       
                </div>
            </div>

            <!-- animation -->
            <div class="modal fade" id="deleteDoc" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Вы действительно хотите удалить документ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <form action="/cost_cadastr/deletedoc/" method="POST" enctype="multipart/form-data" id="delDoc">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>Удаление документа приведёт к удалению загруженных сведений о кадастровой стоимости обектов, переданных в рамках данного документа</p>
                        </div>
                        <div class="invalid-feedback">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        $('#createXML').submit(function() {

        // submission stuff

        $('#selectParam').modal('hide');
        return true;
        });
    </script>
{% endblock %}