{% extends 'template.html' %}
{% load tz %}
{% load static %}
{% block content %}
    <h3>Формирование перечней ОКС (п.2 ст. 16 237-ФЗ):</h2>
    <h5>Сформированные перечни для оценки</h3>
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th>Период формирования перечня</th>
                <th>Дата формирования</th>
                <th>Имя файла сформированного перечня</th>
                <th>Ссыдка на архив содержащий перечень для оценки</th>
                <th>Количество объектов в перечне</th>
            </tr>
        </thead>
        <tbody>
            {% for item in listFiles %}
            <tr>
                <td>{{ item.date_period_start|date:'d.m.Y' }} - {{ item.date_period_end|date:'d.m.Y' }}</td>
                <td>{{ item.date_list_create|date:'d.m.Y' }}</td>
                <td>{{ item.file_list_name }}</td>
                <td><a href="{{ item.file_list_url }}">Скачать</a></td>
                <td>{{ item.total_objects_count }}</td>
            </tr>
            {% endfor %}
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <p>Дата актуальности сведений: {{ relevance|date:'d-m-yy' }}</p>
            </div>
            <div class="col-2">
                <div class="pagination nav-position">
                    <span class="step-links">
                        {% if listFiles.has_previous %}
                        <a href="?page=1" class="btn btn-light">&lt;&lt;</a>
                        <a href="?page={{ listFiles.previous_page_number }}" class="btn btn-light">&lt;</a>
                        {% else %}
                        <a href="#" class="btn btn-light disabled">&lt;&lt;</a>
                        <a href="#" class="btn btn-light disabled">&lt;</a>
                        {% endif %}
    
                        <span class="current">
                            {{ listFiles.number }} из {{ listFiles.paginator.num_pages }}
                        </span>
    
                        {% if listFiles.has_next %}
                        <a href="?page={{ listFiles.next_page_number }}" class="btn btn-light">&gt;</a>
                        <a href="?page={{ listFiles.paginator.num_pages }}" class="btn btn-light">&gt;&gt;</a>
                        {% else %}
                        <a href="#" class="btn btn-light disabled">&gt;</a>
                        <a href="#" class="btn btn-light disabled">&gt;&gt;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-5 p-error">
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="btn-position">
            <div class="btn-style">
                <button type="button" class="btn btn btn-outline-success" data-toggle="modal"
                    data-target="#selectParam">Сформировать перечень для оценки</button>
            </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="selectParam" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Параметры формирования перечня:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/cost_cadastr/cl/createdlist/" method="POST" enctype="multipart/form-data" id="createXML">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="ObjectCountSelect" class="col-12 col-form-label">Количество объектов в файле:</label>
                    <select class="custom-select mr-sm-2" id="ObjectCountSelect" name="ObjCountSelect">
                        <option selected>500</option>
                        <option value="50">100</option>
                        <option value="1000">1000</option>
                        <option value="5000">5000</option>
                    </select>
                    <label for="list_date_start" class="col-12 col-form-label">Дата начала периода:</label>
                    <input class="form-control" type="date" id="list_date_start" name="list_date_start" value={{ current_date|date:'Y-m-d' }}>
                    <label for="list_date_end" class="col-12 col-form-label">Дата окончания периода:</label>
                    <input class="form-control" type="date"  id="list_date_end" name="list_date_end" value={{ current_date|date:'Y-m-d' }}>
                    <!--  -->
                    <!--
                    <input type="checkbox" id="createKNlist" name="createKNlist">
                    <label for="createKNlist">Сформировать перечень для списка объектов</label>
                    <div class="modal-body input-group">
                        <label for="cadnumlist" class="col-12 col-form-label">Список кадастровых номеров:</label>
                        <input class="form-control" id="cadnum" name="cadnum" type="text" visibility="hidden"/>
                    </div> -->
                </div>
                <div class="invalid-feedback">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" id="closeModal">Сформировать XML</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loadmodal modal fade" id="showLoader" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="{% static 'images/loader.gif' %}" class="img-thumbnail" alt="Обработка перечня...">
        </div>
    </div>
</div>
<p>{{ count }}</p>
<a href="{{ link }}">{{ link_name }}</a>
<p class="p-error">{{ errors }}</p>
<script>
    $('#selectParam').submit(function() {
        $('#showLoader').modal({backdrop: 'static', keyboard: false})
        $('#selectParam').modal('hide');
        $('#showLoader').modal('show');
    });
    $('#createKNlist').on('click', function () {
    if ( $(this).is(':checked') ) {
        document.getElementById("cadnum").style.visibility = "visible";
    } else {
        document.getElementById("cadnum").style.visibility = "hidden";
    }
})
</script>
{% endblock %}