{% extends 'template.html' %}
{% block content %}
{% load static %}
    <h3>Загрузка сведений об объекта, поставленных на учет за указанный период, а также объектах, характеристики которых были изменены</h3>
    <form action="/cost_cadastr/cl/loadf/" method="POST" enctype="multipart/form-data" class="was-validated" id="loadFIR">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="loadselect" id="periodselect" value="period" checked>
                            <label class="form-check-label" for="periodselect">Выбрать период загрузки</label>
                            <div class="custom-file mb-3">
                                <label for="date-start" class="col-6 col-form-label">Дата начала периода</label>
                                <input class="form-control" type="date" id="date-start" name="date-start" required>
                                <label for="date-end" class="col-6 col-form-label">Дата окончания периода</label>
                                <input class="form-control" type="date" id="date-end" name="date-end" required>                   
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="loadselect" id="fileselect" value="file">
                            <label class="form-check-label" for="fileselect">Выбрать файл для загрузки</label>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="files_fir" name="files_fir" accept=".zip" required multiple
                                    title="Выберите файл выгрузки в ФИР" disabled/>
                                <label class="custom-file-label" for="files_fir" data-browse="Выберите файл">Выберите файл(архив) выгрузки сведений в ФИР...</label>
                            </div>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="loadselect" id="objectselect" value="object">
                            <label class="form-check-label" for="objectselect">Загрузка сведений по кадастровому номеру объекта</label>
                            <div class="custom-file mb-3">
                                <input class="form-control" id="cadnum" name="cadnum" type="text" placeholder="Укажите кадастровый номер объекта" required disabled/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group col-md-12">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="files_oks_zu_relations" name="files_oks_zu_relations" accept=".csv" required 
                            title="Выберите файл полученный по запросу ХХХХ в сервисе http://query.kadastr.ru в формате *.csv"/>
                            <label class="custom-file-label" for="files_oks_zu_relations" data-browse="Выберите файл">Выберите ф...</label>
                        </div>
                    </div> -->
                    <div class="btn-wrap">
                        <input type="submit" class="btn btn-outline-success" value='Загрузить'>
                    </div> 
                </div>
            </div>
            <div class="col">
                <div class="form-row btn-style">       
                    <p>Сервис загрузки сведений об объектах недвижимости для последующего формирования перечня 
                        объектов недвижимости подлежащих государственной кадастровой оценке в рамках ст.16 и ст.24 237-ФЗ.
                        <br>
                        После загрузки сведений о КС доступны следующие возможности:      
                    </p>
                    <ul>
                        <li>поиск сведений об объекте;</li>
                        <li>выгрузка сведений в формате XML-схемы ListForRating_v04 для последующей передачи в ОГБУ "ТОЦИК";</li>
                    </ul>
                    <br>
                    <p class="p-error">{{ errors }}</p>       
                </div>
            </div>

        </div>
    </form>
    <div class="loadmodal modal fade" id="showLoader" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="{% static 'images/loader.gif' %}" class="img-thumbnail" alt="Обработка перечня...">
            </div>
        </div>
    </div>
    <script>
        $('#loadFIR').submit(function() {
            $('#showLoader').modal({backdrop: 'static', keyboard: false})
            $('#showLoader').modal('show');
        });
        $(document).on('change', 'input:radio[id="periodselect"]', function (event) {
            $( "#files_fir" ).prop( "disabled", true );
            $( "#date-start" ).prop( "disabled", false );
            $( "#date-end" ).prop( "disabled", false );
            $( "#cadnum" ).prop( "disabled", true );
        });
        $(document).on('change', 'input:radio[id="fileselect"]', function (event) {
            $( "#files_fir" ).prop( "disabled", false );
            $( "#date-start" ).prop( "disabled", true );
            $( "#date-end" ).prop( "disabled", true );
            $( "#cadnum" ).prop( "disabled", true );
        });
        $(document).on('change', 'input:radio[id="objectselect"]', function (event) {
            $( "#files_fir" ).prop( "disabled", true );
            $( "#date-start" ).prop( "disabled", true );
            $( "#date-end" ).prop( "disabled", true );
            $( "#cadnum" ).prop( "disabled", false );
        });
        $(":input").inputmask();
        $("#cadnum").inputmask({"mask": "99:99:9999999:9[9][9][9][9]"});
    </script>
{% endblock %}