{% extends 'template.html' %}
{% load static %}
{% block content %}
    <div class="block-wrapper">
        <div class="block-item-wrapper">
            <a href="/ipd/xml_to_mif/convert/"><img src="{% static 'images/xml_to_mif.png' %}" alt="XML to MIF/MID converter"></a>
            <p class="p-image">Сервис конвертации XML файлов в MIF/MID</p>
        </div>
        <div class="block-item-wrapper">
            <a href="/ipd/requesr_list/"><img src="{% static 'images/requests_list.png' %}" alt="Requests list"></a>
            <p class="p-image">Реестр принятых обращений</p>
        </div>
    </div>
{% endblock %}