{% extends 'template.html' %}
{% block content %}
    <h3>Сервис конвертации координат представленных в XML файлах TerritoryToGKN и MapPlan в MIF/MID формат</h3>
    <p>Для преобразования координат представленных в XML файлах TerritoryToGKN и MapPlan в MIF/MID формат 
        необходимо загрузить файл ZoneToGKN(или BoundToGKN) и соответствующий файл TerritoryToGKN или MapPlan. 
        Файл ZoneToGKN/BoundToGKN необходим для указания наименования зоны или границы в MID файле.</p>
    <form action="/ipd/xml_to_mif/convert/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div class="btn-wrap">
                <input type="file" class="btn btn-outline-primary" name="zonetogkn" 
                value="Загрузить файл ZoneToGKN(BoundToGKN)"> Файл ZoneToGKN_*.xml(BoundToGKN_*.xml)</button>
            </div>
            <div class="btn-wrap">
                <input type="file" class="btn btn-outline-primary" name="territorytogkn" 
                value="Загрузить файл TerritoryToGKN(MapPlan)"> Файл TerritoryToGKN_*.xml(MapPlan_*.xml)</input>
            </div>
            <div class="form-group"> 
                <input type="checkbox" id="checkxml" name="checkxml" checked>
                <label for="checkxml">Проверять XML-файлы на соответствие XSD-схеме</label>
            </div>
            <div class="btn-wrap">
                <input type="submit" class="btn btn-outline-success" value='Конвертировать'/>
            </div>
        </div> 
    </form>   
    <p class="p-error">{{ errors }}</p>
    {% if visible %}
    <ul class="p-info">
        <li>Файл ZoneToGKN_*.xml должен соответствовать XML схеме ZoneToGKN_v05 утвержденной приказом Росреестра № П/0465 от 15.09.2016</li>
        <li>Файл BoundToGKN_*.xml должен соответствовать XML схеме BoundToGKN_v03 утвержденой приказом Росреестра П/369 от 01.08.2014</li>
        <li>Файл TerritoryToGKN_*.xml должен соответствовать XML схеме TerritoryToGKN_v01 утвержденой приказом Росреестра № П/0465 от 15.09.2016</li>
        <li>Файл MapPlan_*.xml должен соответствовать XML схеме MapPlan_v01 утвержденой приказом Росреестра П/369 от 01.08.2014</li>
    </ul>
    {% endif %}
{% endblock %}