/*body{
    margin: 0;
    margin-left: 10px;
}*/


a {
    font-size: large;
}

.a-template {
    text-decoration: none;
    color: white;
}
.a-template:hover {
    text-decoration: none;
    color: white;
}

.btn-wrap {
    margin: 3px;
}

.p-error {
    color: red;
    font-size: large;
}

.content {
    margin-left: 10px;
}

.header-wrap {
    display: flex;
    background-color: #006fb8;
    color: white;
    padding: 5px;
    font-size: large;
    align-items: center;
    margin-left: 0;
}

.nav-text {
    color: white;
    display: flex;
    align-items: center;
}

.nav-wrap {
    margin-bottom: 10px;
}