/*body{
    margin: 0;
    margin-left: 10px;
}*/
@font-face {
    font-family: "TT Norms Regular";
    src:url(../static/fonts/TTNorms-Regular.otf) format("opentype");
}

p,a {
    font-family: "TT Norms Regular";/*, Helvetica, Arial, sans-serif;*/
    font-size: 18px;
}

a {
    font-size: large;
}

.a-template {
    text-decoration: none;
    color: white;
}
.a-template:hover {
    text-decoration: none;
    color: white;
}

.btn-wrap {
    margin: 3px;
}

.p-error {
    color: red;
    font-size: large;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

.header-wrap {
    display: flex;
    background-color: #006fb8;
    color: white;
    padding: 5px;
    font-size: large;
    align-items: center;
    margin-left: 0;
}

.nav-text {
    color: white;
    display: flex;
    align-items: center;
}

.nav-wrap {
    margin-bottom: 10px;
}

.btn-position {
    display: flex;
    justify-content: flex-end;
}

.nav-position {
    display: flex;
    justify-content: center;
}


.btn-style {
    margin-left: 5px; 
    margin-right: 5px;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}
