{% extends 'template.html' %}
{% load static %}
{% block content %}
    <div class="block-wrapper">
        <div class="block-item-wrapper">
            <a href="/ipd/"><img src="{% static 'images/map1.png' %}" alt="Отдел ИПД"></a>
            <p class="p-image">Сервисы отдела инфраструктуры пространственных данных</p>
        </div>
        <div class="block-item-wrapper">
            <a href="/cost_cadastr/"><img src="{% static 'images/rubl1.png' %}" alt="Отдел ИПД"></a>
            <p class="p-image">Кадастровая стоимость. Кадастровая оценка.</p>
        </div>
        <div class="block-item-wrapper">
            <a href="/luckygardener/"><img src="{% static 'images/farmer1.png' %}" alt="Lucky Gardener"></a>
            <p class="p-image">Конкурск "Удачный дачник!!!"</p>
        </div>
    </div>
{% endblock %}