<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"></linkrel>
    <title>XML to MIF/MID convert</title>
</head>
<body>
    <nav class="navbar navbar-light nav-wrap" style="background-color: #006fb8;">
        <!-- Navbar content -->
        <div class="header-wrap">
            <img src="{% static 'images/logotype.png' %}" class="img-fluid" alt="Responsive image">
            <div class="nav-text">
                <p><a class="a-template" href="/">филиал ФГБУ "ФКП Росреестра" по Томской области</a></p>
            </div>       
        </div>  
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>