<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_table/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_select/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap_table/extensions/filter-control/bootstrap-table-filter-control.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcat icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <title>филиал ФГБУ "ФКП Росреестра" по Томской области</title>
</head>
<body>
    <nav class="navbar navbar-light nav-wrap" style="background-color: #006fb8;">
        <!-- Navbar content -->
        <div class="header-wrap">
            <img src="{% static 'images/logotype.png' %}" class="img-fluid" alt="Responsive image">
            <div class="nav-content">
                <p><a class="a-template" href="/">филиал ФГБУ "ФКП Росреестра" по Томской области</a></p>
            </div>       
        </div>
        <div class="header-wrap">
                <form class="login-container" action="ipd/login/" method="POST" enctype="multipart/form-data">
                    <input class="form-control form-login" type="text" placeholder="Username" name="username">
                    <input class="form-control form-login" type="password" placeholder="Password" name="psw">
                    <button class="btn btn-light form-login" type="submit">Login</button>
                </form>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'jquery/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap_table/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap_select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bootstrap_table/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'bootstrap_table/bootstrap-table-ru-RU.min.js' %}"></script>
    <script src="{% static 'fancybox/jquery.fancybox.min.js' %}"></script>
    <script>
        $(function() {
            $('#table').bootstrapTable()
        })
      </script>
</body>
</html>